@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    align-items: center;
}

.heading {
    font-size: 3.6rem;
}

.reset-btn {
    border: 0;
    padding: 2.4rem 4.4em;
    border-radius: 3.6rem;
    font-size: 3.6rem;
    font-weight: 800;
    background-color: rgb(227, 227, 227);
    color: #515151;
}

.switchesContainer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3.6rem;
}

.checkbox {
    display: none;
}

.indicator-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.indicator-on {
    padding-left: 3.6rem;
    font-size: 3.6rem;
    font-weight: 800;
    opacity: 0.4;
}

.indicator-off {
    font-size: 3.6rem;
    padding-right: 3.6rem;
    font-weight: 800;
    opacity: 0.4;
}

.switch-button {
    width: 24rem;
    height: 13rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-radius: 100px;
    position: relative;
    color: #515151;
    box-shadow: inset 0.8rem 0.8rem 1.6rem rgba(0, 0, 0, 0.4);
}

.switch-button>.switch-toggle {
    width: 11rem;
    height: 11rem;
    margin: 1rem;
    border-radius: 50%;
    background-image: linear-gradient(145deg, #c1c1c1, white 40%);
    border: 2px solid white;
    position: absolute;
    box-shadow: 1rem 1rem 2.4rem rgba(0, 0, 0, 0.2);
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.6rem;
    font-weight: 800;
    color: #515151;
}

.switch-toggle .toggle-index {
    color: inherit;
    opacity: 0.4;
}

.checkbox:checked~label>.switch-button {
    background-color: rgb(0, 247, 148);
    box-shadow: inset 0.8rem 0.8rem 1.6rem rgba(0, 0, 0, 0.4), 0.8rem 0.8rem 2.4rem rgba(0, 248, 165, 0.4);
    color: #014600;
}

.checkbox:checked~label>.switch-button>.switch-toggle {
    transform: translateX(100%);
    color: #014600;
}


@media (max-width : 50rem) {
    html {
        font-size: 6px;
    }
}